  <nav class="humberger__menu__nav mobile-menu">
            <ul>
        {% if 'is_logged_in' in request.session and request.session.usertype == 'admin' %}
        <li {% if request.resolver_match.url_name == 'dashboard' %} class="active" {% endif %}><a href="{% url 'site_admin:dashboard' %}">Dashboard</a></li>
        <li {% if request.resolver_match.url_name == 'add_location' %} class="active" {% endif %}><a href="{% url 'site_admin:add_location' %}">Add Location</a></li>
        <li {% if request.resolver_match.url_name == 'home' %} class="active" {% endif %}><a href="{% url 'site_admin:add_category' %}">Add Category</a></li>
        <li {% if request.resolver_match.url_name == 'list_public_user' %} class="active" {% endif %}><a href="{% url 'site_admin:list_public_user' %}">Users</a></li>
        <li {% if request.resolver_match.url_name == 'list_farmer_user' %} class="active" {% endif %}><a href="{% url 'site_admin:list_farmer_user' %}">Farmer</a></li>
        <li><a href="{% url 'site_admin:logout' %}">Sign Out ({{ request.session.usertype }})</a></li>
        {% elif 'is_logged_in' in request.session and request.session.usertype == 'user' %}
        <li {% if request.resolver_match.url_name == 'dashboard' %} class="active" {% endif %}><a href="{% url 'public:dashboard' %}">Dashboard</a></li>
        <li {% if request.resolver_match.url_name == 'shop' or request.resolver_match.url_name == 'shop_details' or request.resolver_match.url_name == 'shop_cart' %} class="active" {% endif %} ><a href="{% url 'public:shop' %}">Shop</a></li>
          <li {% if request.resolver_match.url_name == 'blog' %} class="active" {% endif %} ><a href="{% url 'index:blog' %}">Blog</a></li>
        <li><a href="{% url 'public:logout' %}">Sign Out ({{ request.session.usertype }})</a></li>
        {% elif 'is_logged_in' in request.session and request.session.usertype == 'farmer_user' %}

        <li {% if request.resolver_match.url_name == 'dashboard' %} class="active" {% endif %}><a href="{% url 'farmer:dashboard' %}">Dashboard</a></li>
        <li {% if request.resolver_match.url_name == 'products_list' %} class="active" {% endif %}><a href="{% url 'farmer:products_list' %}">Products</a></li>
        <li><a href="{% url 'farmer:logout' %}">Sign Out ({{ request.session.usertype }})</a></li>

        {% else %}
        <li {% if request.resolver_match.url_name == 'home' or request.resolver_match.url_name == '' %} class="active" {% endif %} ><a href="{% url 'index:home' %}">Home</a></li>
       <li {% if request.resolver_match.url_name == 'shop' or request.resolver_match.url_name == 'shop_details' or request.resolver_match.url_name == 'shop_cart' %} class="active" {% endif %} ><a href="{% url 'public:shop' %}">Shop</a></li>
        <li><a href="#">Farmer</a>
            <ul class="header__menu__dropdown">
                <li {% if request.resolver_match.url_name == 'signin' %} class="active" {% endif %}><a href="{% url 'farmer:signin' %}">Sign In</a></li>
                <li {% if request.resolver_match.url_name == 'signup' %} class="active" {% endif %}><a href="{% url 'farmer:signup' %}">Sign Up</a></li>
            </ul>
        </li>
        <li {% if request.resolver_match.url_name == 'blog' %} class="active" {% endif %} ><a href="{% url 'index:blog' %}">Blog</a></li>
        <li {% if request.resolver_match.url_name == 'contact_us' %} class="active" {% endif %} ><a href="{% url 'index:contact_us' %}">Contact</a></li>
         {% endif %}
            </ul>
        </nav>
